/*
Styles.css
Auteur:NicolasDesmarets
Copyright(c)2021qr.desmaths.fr
*/
body{
	margin:0;
	padding:0;
	font-family:Roboto, sans-serif;
}
*{
	box-sizing:border-box;
	font-family:Roboto, sans-serif;
}
#header{
	height:60px;
	box-shadow:0 3px 4.7px 0.3px rgb(0 0 0/24%);
}
#logo{
	float:left;
	height:50px;
	width:auto;
	margin:5px;
}
#site-title{
	display:inline-block;
	color:white;
	font-size:1.5em;
	line-height:50px;
	height:50px;
	margin:5px;
}
#site-title a, #site-title a:hover, #site-title a:visited{
	color:white;
	text-decoration:none;
}
#main{
	padding:20px;
}
#page-back{
	width:100%;
	padding-top:40px;
}
#shadow{
	box-shadow:0 4px 7.36px 0.64px rgb(0 0 0/24%), 0 0px 7.68px 0.32px rgb(0 0 0/16%);
	width:100%;
	max-width:560px;
	margin:auto;
	margin-bottom:30px;
}
#page-header{
	box-shadow:0 4px 7.36px 0.64px rgb(0 0 0/24%), 0 0px 7.68px 0.32px rgb(0 0 0/16%);	
	width:100%;
	max-width:560px;
	margin:auto;
	padding:40px;
}
#page-title{
	font-size:24px;
	color:white;
	font-weight:400;
	text-align:left;
	line-height:1.2;
}
#page-description{
	margin-top:10px;
	opacity:0.7;
	font-size:16px;
	color:white;
	font-weight:400;
	line-height:1.5;
}
.list-links{
	padding:0;
	list-style:none;	
}
.controls{
	display:inline-block;
	text-decoration:none;
	font-weight:700;
	margin:02px;
	border:solid 1px black;
	border-radius:5px;
	padding:5px;
	height:30px;
	cursor:pointer;
}
.img-controls{
	display:inline-block;
	background-size:40px;
	width:20px;
	height:20px;
}
.l{
	color:black;
	display:inline-block;
	line-height:20px;
	vertical-align:top;
}
#loading{
	display:none;
	line-height:1.2em;
}
.o{
	background-position-y:top;
}

.e{
	background-position-y:-63px;
}

.s{
	background-position-y:-84px;
}

.m{
	background-position-y:-42px;
}

.v{
	background-position-y:-21px;
}
.field{
	width:100%;
	height: 36px;
	padding:5px;
	font-size:1.2em;
	margin-bottom:5px;
}
.suppr{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline: none;
	border:0;
	background: #666;
	border-radius: 3px;
	color: white;
	cursor:pointer;
	width: 36px;
	height: 36px;
}
textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	margin:5px 0;
	width:100%;
	border:solid 1px;
	padding:010px;
	font-size:1.2em;
	border-radius:2px;
}
#links{
	width:100%;
}
.qrscan {
	background: #DCDCDC;
	width: 280px;
	height: 280px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.buttonscan {
	background: #7D7D7D;
	color: #FDFDFD !important;
	display: block;
	width: 280px;
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
	padding: 10px;
}
.link-title,.link-url{
	width:100%;
}
.menu-button{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display:block;
	margin:10px 0;
	text-decoration:none;
	font-weight:400;
	font-size:1.5em;
	padding:.5em 0;
	cursor:pointer;
	outline:none;
	border-radius:15px;
	text-align:center;
	width:100%;
	border:0;
	color:white !important;
}
.cancel-button{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display:block;
	margin:10px 0;
	text-decoration:none;
	font-weight:400;
	font-size:1.5em;
	padding:.5em 0;
	cursor:pointer;
	outline:none;
	border-radius:15px;
	text-align:center;
	width:100%;
	border:0;
	background:#666;
	color:white !important;
}
.submit-button{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display:block;
	margin:10px 0;
	text-decoration:none;
	font-weight:400;
	font-size:1.5em;
	padding:.5em 0;
	cursor:pointer;
	outline:none;
	border-radius:15px;
	text-align:center;
	width:100%;
	border:0;
	color:white !important;
}
.card-link{
	width:100%;
	max-width:560px;
	background:#fff;
	margin:auto;
	padding-top:20px;
}
.card-title{
	width:100%;
	font-size:1.2em;
	color:#323032;
	font-weight:400;
	padding:0 20px;
	margin-bottom:5px;
}
.video{
	position:relative;
	height:0;
	padding-bottom:56.25%;
}
.lockee{
	height:500px;
	width:100%;
	margin:auto;
}
.video-player{
	border:0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.qrcode{
	width:150px;
	height:auto;
}
.active-btn{
	display:inline-block;
	margin:20px;
	cursor:pointer;
	font-weight:500;
	text-transform:uppercase;
	text-decoration:none;
	padding:11px 20px;
	line-height:1.2;
	border-radius:2px;
	color:white !important;
	box-shadow:0 3px 4.7px 0.3px rgb(0 0 0/24%), 0 1px 6.86px 0.14px rgb(0 0 0/16%);
	-webkit-box-shadow:0 3px 4.7px 0.3px rgb(0 0 0/24%), 0 1px 6.86px 0.14px rgb(0 0 0/16%);
	-moz-box-shadow:0 3px 4.7px 0.3px rgba(0,0,0,0.24),0 1px 6.86px 0.14px rgba(0,0,0,0.16);
}
#errors{
	width: 100%;
	text-align: center;
	margin: 10px auto;
}
#errors,#errors a{color:#D32F2F}
.pad{
	table-layout: fixed;
	width: 200px;
	max-width: 100%;
	border-collapse: collapse;
}

.pad table{
	width: 100%;
}
.pad table td {
	width: 33.33%;
}
.confirm{
	width: auto;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	margin: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #388E3C;
	color: #FDFDFD;
}
.cancel{
	width: auto;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	margin: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #D32F2F;
	color: #FDFDFD;
}